.main,
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.main {
  min-height: 100vh;
}

.main .search {
  padding: 1rem;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
